.input_box{
    height: 40px;
    background: rgb(244, 243, 243);
    border-radius: 7px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    svg{
        width: 20px;
        height: 20px;
        fill: #aaa;
    }
    input{
        margin-left: 5px;
        font-size: 16px;
        color: #666;
    }
}
.Swiper{
    margin-top: 20px;
   .swiper_img{
        width: 100%;
   }
   img{
    border-radius: 10px;
   }
}
.Throne{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    .throne-box{
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .throne_img{
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(252, 132, 132, .2);
            border-radius: 50%;
            img {
                width: 25px;
                height: 25px;
                }
        }
      
    }
}

.Img{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .Imgbox{
        width: 49%;
        height: 320px;
        border: 1px solid red;
        border-radius: 10px;
        margin-bottom: 20px;
    }
}